$font-stack: 'Poppins', 'Helvetica', 'Arial', sans-serif;
$background-color: #f9fafb; // Warna background soft (sama kayak $light-gray)
$border-color: #d1d5db; // Abu-abu netral untuk border

$primary-color: #1E7F38; // Hijau Kejaksaan
$secondary-color: #F6C400; // Kuning Kejaksaan
$light-gray: #f9fafb;
$text-color: #374151;
$warning-color: #facc15;
$success-color: #22c55e;
$danger-color: #ef4444;
$info-color: #17a2b8; // warna biru info Bootstrap


